
/* end of Testimonial */

.Testimonial2 {
    background-color: #faf6f6ec;
    height: 830px;
    width: auto;
    
    gap: 20px;
    justify-content: center;
    
}

.tes-card1 {
    background-color: #ffffff;
    padding: 20px 0px;
    width: 350px;
    
    border-radius: 20px;
    line-height: 40px;
    display: grid;
    place-items: center;
}

.tes-card1 img {
    height: 80px;
    width: 80px;

}
.tes-card-btn {
    background: linear-gradient(to right, #1d97ed, #3b71ed);
    color: white;
    border: none;
    padding: 16px 25px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    font-size: 10px;

}

.tes-card-btn:hover {
    background: linear-gradient(to right, #3b71ed, #1d97ed);
}
.three{
    
    margin: 0px 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.faq{
    background-color: #0E264F;
    display: flex;
    padding: 0px 80px;
    gap: 20px;
}

.faq-side{
    width: 50%;
}
.faq-image{
    width: 50%;
}
.faq-image img{
    width: 120%;
    height: 100%;
}
.faq1 p{
    background-color: white;
    margin-top: 20px;
    position: relative;
    padding: 14px;
}
.fa-angle-left{
    background-color:#0C93E4;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 0;
    color: #D3DDF7;
    font-weight: bold;
    font-size: 16px;
}
.faq-side h1{
    color: white;
    font-size: 44px;
    font-weight: 800;
}
.dentsts{
    background-color: rgb(254, 254, 254);
    display: flex;
    justify-content: center;
    gap: 20px;
    height: auto;
    padding-bottom: 30px;
    
}
.dentist-card{
    background-color: white;
    border:0.5px solid rgb(182, 181, 181);
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    margin-top: 20px;
    text-align: center;
    border-radius: 4px;
    margin-top:-90 ;
    gap: 20px;
    
}
.dentist-image {
    width: 232px;
    height: 213px;
    border-radius: 4px;
    

}
.dentist-image img{
    
    width: 200px;
}
.dentist-content{
    margin-bottom: 80px;
}
.dentist-content h5{
    font-weight: 800;
    font-size: 24px;
}
.dentist-content p{
  color: #0450DD;
}
.den-social{
    
    margin-top: -90px;
    
}
.den-social img{
    
    width: 30px;
    
}
.square {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 80px;
    
}
#sq{
    font-size: 12px;
    color: blue;
}
.fa-square{
    margin-left: 20px;
    font-size: 12px;
    color: rgb(124, 124, 133);
}
.book-detail{
    width: auto;
    height: auto;
    background-color: #0b2149;

    display: flex;
    gap: 32px;
    width: 1300px;
    padding: 0px 60px;
    
}
.book-detail img{
    height: 450px;
    margin-top: -70px;
    
}
.book-detail-content{
    margin-top: 110px;
}
.book-detail-content h3{
    color: #0450DD;   
}
.book-detail-content h1{
    font-size: 48px;
    color: white;
    
}
.book-detail-content button{
    color: white;
    background: linear-gradient(to right, #1d97ed, #3b71ed);
    padding: 12px 16px;
    border: none;
    margin-top: 20px;
}
.book-detail-content button :hover {
     background: linear-gradient(to right, #3b71ed, #1d97ed);
}
.boxs{
    height: 480px;
    width: auto;
    background-color: #1d97ed;
}